@model PasswordChangeVewModel
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_AuhtLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                    <img src="~/adminicon.png" alt="">
                    <span class="d-none d-lg-block">Kütüphane Sistemi</span>
                </a>
            </div>

            <div class="card mb-3">

                <div class="card-body">

                    <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Şifrenizi Güncelleyin</h5>
                        <p class="text-center small">Şifrenizi Güncellemek İçin Gerekli Bilgileri Girin</p>
                    </div>
                    <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
                    </div>
                    @if (TempData["ErrorMessage"] != null)
                    {

                        <div class="alert alert-danger" role="alert">
                            @TempData["ErrorMessage"]
                        </div>

                    }
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    <form class="row g-3 needs-validation" novalidate asp-action="PasswordChange" asp-controller="Account" method="post">
                        <div class="col-12">
                            <label asp-for="PasswordOld" class="form-label">Eski Şifre</label>
                            <input type="password" asp-for="PasswordOld" class="form-control" id="oldPassword" required>
                            <div class="invalid-feedback">Lütfen Eski şifrenizi girin!</div>
                        </div>


                        <div class="col-12">
                            <label asp-for="PasswordNew" class="form-label">Yeni Şifre</label>
                            <input type="password" asp-for="PasswordNew" class="form-control" id="newPassword" required>
                            <div class="invalid-feedback">Lütfen Yeni şifrenizi girin!</div>
                        </div>

                        <div class="col-12">
                            <label asp-for="PasswordNewConfirm" class="form-label">Yeni Şifre Tekrar</label>
                            <input type="password" asp-for="PasswordNewConfirm" class="form-control" id="newPasswordConfirm" required>
                            <div class="invalid-feedback">Lütfen Yeni şifrenizi tekrar girin!</div>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">Şifre Değiştir</button>
                        </div>
                        <div class="col-12">
                            <p class="small mb-0"><a href="/Home/Index">Sisteme Dön</a></p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="copyright">
                &copy; Copyright <a href="#">emreipek</a> | @DateTime.Now.Year
            </div>

        </div>
    </div>
</div>


