@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuhtLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                    <img src="~/adminicon.png" alt="">
                    <span class="d-none d-lg-block">Kütüphane Sistemi</span>
                </a>
            </div>

            <div class="card mb-3">

                <div class="card-body">

                    <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Bir Hesap Oluşturun</h5>
                        <p class="text-center small">Hesap oluşturmak için kişisel bilgilerinizi girin</p>
                    </div>
                    <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">

                    </div>
                    @if (TempData["SuccessMessage"] != null)
                    {

                        <div class="alert alert-success" role="alert">
                            <div class="float-start">
                                @TempData["SuccessMessage"]
                            </div>
                            <div class="float-end">
                                <a asp-controller="Account" asp-action="Login" >Giriş Yap</a>
                            </div>
                        </div>

                    }


                    <form class="row g-3 needs-validation" novalidate asp-action="Register" asp-controller="Account"  method="post">
                        

                        <div class="col-12">
                            <label asp-for="Mail" class="form-label">Mail Adresi</label>
                            <input type="email" class="form-control" asp-for="Mail" required>
                            <div class="invalid-feedback">Lütfen geçerli bir email adresi giriniz!</div>
                        </div>

                        <div class="col-12">
                            <label asp-for="Username" class="form-label">Kullanıcı Adı</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">@@</span>
                                <input type="text" class="form-control" asp-for="Username" required>
                                <div class="invalid-feedback">Lütfen bir kullanıcı adı seçiniz.</div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label asp-for="Password" class="form-label">Şifre</label>
                            <input type="password" class="form-control" asp-for="Password" required>
                            <div class="invalid-feedback">Lütfen bir şifre giriniz!</div>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">Hesap Oluştur</button>
                        </div>
                        <div class="col-12">
                            <p class="small mb-0"><a href="/Account/Login">Hesabınız Zaten Var Mı?</a></p>
                        </div>
                    </form>

                </div>
            </div>

            <div class="credits">
                &copy; Copyright <a href="#">emreipek</a> | @DateTime.Now.Year
            </div>

        </div>
    </div>
</div>

