<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Admin">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/Admin/Book/Index">
                <i class="bi bi-building"></i>
                <span>Kitaplar</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" asp-action="PasswordChange" asp-controller="Account">
                <i class="bi bi-pencil-square"></i>
                <span>Şifremi Değiştir</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-action="Register" asp-controller="Account">
                <i class="bi bi-person-plus-fill"></i>
                <span>Kullanıcı Ekle</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/" target="_blank">
                <i class="bi bi-eye"></i>
                <span>Siteye Git</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" asp-action="Logout" asp-controller="Account" asp-area="">
                <i class="bi bi-box-arrow-right"></i>
                <span>Çıkış Yap</span>
            </a>
        </li>

    </ul>
</aside>

